/*

A modified chaostheory theme by JH.

http://wordpress.org/extend/themes/chaostheory

*/


/* =Reset
-------------------------------------------------------------- */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
table,
th,
td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset,
img,
abbr {
	border: 0;
}
caption,
th {
	text-align: left;
}
q:before,
q:after {
	content: '';
}
a {
	text-decoration: none;
}

/* =Globals
-------------------------------------------------------------- */

body {
	background: #1b1b1b;
	color: #ccc;
	font: 120% "Helvetica Neue", Helvetica, Arial, sans-serif;
	vertical-align: baseline;
}
a {
	color: #6dcff6;
	font-weight: bolder;
}

#content {
	margin: 0 auto;
	overflow: hidden;
	width: 700px;
	min-height: 100px;
	padding: 10px;
}
abbr,
acronym {
	border-bottom: 1px dotted blue;
	cursor: help;
}
code,
pre {
	font-family: Menlo, Consolas, Monaco, "Lucida Console", Courier, monospace;
}

p code {
	background-color: #DDD;
	border-radius: 5px;
	padding-left: 3px;
	padding-right: 3px;
	color: #111;
}

#header {
	background: #0a0a0a;
	border-bottom: 1px solid #242424;
	width: 100%;
	margin: 0 auto;
	padding: 25px 0 10px;
}
#blog-description {
	color: #999;
}
#innerheader {
	margin: 0 auto;
	width: 780px;
}
#header h1 {
	font-family: Helvetica, Arial, "Lucida Grande", "Lucida Sans", Verdana, sans-serif;
	font-size: 24px;
	font-weight: normal;
	margin: 1px 0;
}
#header h1 a {
	color: #fff;
}
#branding {
    margin: 0 auto -45px;
    width: 780px;
}
#header-image img {
	margin: 10px 0 3px;
}
#footer {
	background: #111;
	border-bottom: 1px solid #242424;
	clear: both;
	padding: 15px 0;
	text-align: center;
	font-size: 90%;
}
h2.page-title {
	border-bottom: 1px solid #333;
	margin-bottom: 15px;
	padding-bottom: 5px;
}


/* =Post content
-------------------------------------------------------------- */

ul.posts {
    margin-top: 40px;
    margin-bottom: 40px;
}

ul.posts li {
    margin-bottom:10px;
}

ul.posts li.title {
    font-size: 110%;
}

ul.posts li.last {
    margin-bottom:20px;
}

p.summary {
    font-size: 90%;
}

.post a:visited {
    color: #999;
}

#content a:hover,
#footer a:hover {
    border-bottom: 2px solid currentcolor;
}

.post,
#content .page {
	line-height: 1.7;
	margin-bottom: 25px;
	margin-top: 25px;
}

.post p {
    margin-bottom: 20px;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 75%;
}

.post,
.page {
	/* make the post div expand to proerply enclose its (floated) contents */
	overflow: auto;
	width: 100%;
}
h2.entry-title {
	color: #6dcff6;
	font-size: 24px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: -0.04em;
	line-height: normal;
	margin-bottom: 10px;
	overflow: hidden;
	width: 250px;
	word-wrap: break-word;
}

blockquote,
.archive-meta {
	background: #111;
	border: 1px dotted #333;
	color: #999;
	margin-bottom: 1.5em;
}
blockquote p {
	font-size: 0.9em;
	padding: 1em 1em 0;
}


#container {
	margin-top: 0;
	padding-top: 55px;
}

/* =Multi-purpose, common elements
-------------------------------------------------------------- */

.alignleft,
.nav-previous,
#archives-by-category {
	float: left;
}
.alignright,
.nav-next,
#archives-by-month {
	float: right;
}
.clearer {
	clear: both;
}
body.home .nav-next,
body.home .nav-previous,
body.archive .nav-next,
body.archive .nav-previous,
#archives-by-category,
#archives-by-month {
	width: 48%;
}
body.home .nav-next,
body.archive .nav-next {
	text-align: left;
}
body.home .nav-previous,
body.archive .nav-previous {
	text-align: right;
}
.home-link {
	display: none;
}
.entry-date a {
	color: #fff;
}
.entry-date a:hover,
.entry-date a:active {
	color: #6dcff6;
}

/* Mobile */

@media screen and (max-width: 480px) {

	#content {
		width: auto;
		float: none;
		margin: 0px;
	}
	
}

@media screen and (max-width: 700px) {

	#content {
		width: auto;
		float: none;
		margin: 0px;
	}
	
}