<hr />

<div class="pagination">    
	{% assign hasPrevious = page.previous.url != null %}
    {% assign hasNext = page.next.url != null %}
    
    {% if hasPrevious %}
        <a class="page-link" href="{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previously: {{ page.previous.title }}</a>
    {% endif %}
    
    {% if hasPrevious and hasNext %}
    <br/>
    {% endif %}
    
    {% if hasNext %}        
        <a class="page-link" href="{{ page.next.url }}" title="{{ page.next.title }}">&rarr; Next: {{ page.next.title }}</a>
    {% endif %}    
</div>
